mongo-data
mongo-data/*.*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/*
RemoteSystemsTempFiles/*.*
RemoteSystemsTempFiles/.*
.metadata/*
.metadata/.*
.metadata/.*/
.metadata/*/
.metadata/*.*
/.metadata/
